.button {
  font-family: $font;
  font-size: 42px;
  line-height: 57px;
  min-width: 497px;
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: $color-accent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
