.main-nav {

  ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }

  a {
    display: block;
    padding: 33px 25px;
    color: #fff;
    text-decoration: none;
  }
}

.main-nav_link-clickable {
    background-color: $color-accent;
}
